@{
    ViewData["Title"] = "About Us";
}

<div class="row pb-3">

</div>
<div class="text-center pb-4">

    <h2 class="pb-5">About Us</h2>

    <h3>Live  Happily, We help you</h3>
    <h3>
        to find home
    </h3>

</div>

<div class="text-center">
    <p class="aboutus-text">
        Search Bachelors House for Rent, Get Results Instantly.Information 24/7.<br />

        Direct Messaging Option. Web,Images and Video.Trusted by Millions.
    </p>
</div>


<div class="row">

    <div class="col-md-1"></div>

    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/Sowpnil.jpg" />
        </div>
        <h4 class="text-center pb-2">Sowpnil Roy</h4>
        <p class="feature-text">20200104071</p>
        <p class="feature-text">sowpnil.cse.200104071@aust.edu</p>
    </div>





    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/Hridi.jpg" />
        </div>
        <h4 class="text-center pb-2">Hridita Barua</h4>
        <p class="feature-text">20200104052</p>
        <p class="feature-text">hridi.cse.200104052@aust.edu</p>
    </div>




    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/Ahona.jpg" />
        </div>
        <h4 class="text-center pb-2">Jannatul Mawoa Ahona</h4>

        <p class="feature-text">20200104055</p>
        <p class="feature-text">ahona.cse.200104055@aust.edu</p>
    </div>



    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/sonya.jpg" />
        </div>
        <h4 class="text-center pb-2">Sonya</h4>

        <p class="feature-text">20200104074</p>
        <p class="feature-text">sonya.cse.200104074@aust.edu</p>
    </div>



</div>
